:root { font-family: 'Inter', system-ui, sans-serif; }

@supports (font-variation-settings: normal) {
  :root { font-family: 'InterVariable', system-ui, sans-serif; }
}

html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  background: var(--color-bg-main);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.block-inner-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  max-width: var(--layout-block-inner-container-width);
  margin: 0 auto;
  padding: 0 var(--layout-paddings-horisontal);
}

.block-content-container {
  width: 100%;
  max-width: var(--layout-content-container-width);
  margin: 0 auto;
}

.svg-icon {
  fill: currentColor;
}
