@custom-media --screen-medium (max-width: 1279px);
@custom-media --screen-small (max-width: 1024px);
@custom-media --screen-mobile (max-width: 850px);
@custom-media --screen-mobile-extra-small (max-width: 320px);
@custom-media --screen-desktop (min-width: 851px);

:root {
  --color-bg-main: #000000;
  --color-bg-secondary: #101010;
  --color-bg-third: #080808;
  --color-bg-popover: #231E30;

  --color-text-main: #ffffff;
  --color-text-secondary: #B5B5B5;
  --color-text-third: #707070;
  --color-text-link-visited: #6f6087;

  --color-signal: #652CFF;

  --color-button-primary: #652CFF;
  --color-button-primary-hover: #5223CC;
  --color-button-primary-border: #652CFF;
  --color-button-primary-text: #F2F1F4;

  --color-button-secondary: #282B31;
  --color-button-secondary-hover: #1E1E1E;
  --color-button-secondary-border: #32363C;
  --color-button-secondary-text: #D5D9E9;

  --z-header: 100;


  --color-separator: rgba(255, 255, 255, 0.12);
  --color-separator-island: #171717;

  --layout-block-inner-container-width: 1520px;
  --layout-content-container-width: 1024px;

  --layout-header-height: 64px;
  --layout-paddings-horisontal: 20px;

  --layout-page-content-max-width: 660px;
  --layout-features-column-width: 620px;

  --font-mono: "JetBrains Mono", SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}

@media (--screen-small) {
  :root {
    --layout-block-inner-container-width: 860px;
  }
}

/* Variable font support */
@supports (font-variation-settings: normal) {
  :root {
    --font-mono: "JetBrainsMonoVariable", "JetBrains Mono", SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  }
}

svg {
  fill: currentColor;
}
